html {
  font-family: Dosis, sans-serif;
}

p {
  font-family: "Noto Serif", serif;
}

a {
  text-decoration: none;
}

header nav li {
  list-style: none;
}

header {
  background-color: #6e98c4;
 }

header nav a {
  color: #fff;
  width: 100%;
  display: inline-block;
}

header nav {
  background-color: #606162;
}

nav li:hover {
  background-color: #08797d;
}

footer {
  background-color: #6e98c4;
}

small {
  color: #fff;
}

.dog-banner {
  width: 100%;
}

.banner {
  position: relative;
}

.banner-content {
  background-color: #85b7ec;
}

.sec-2 {
  background-color: #4f7296;
  padding-bottom: 2rem;
}

.sec-2 h1 {
  color: #fff;
}

.card {
  max-width: 25rem;
  border: 5px solid #141446;
  border-radius: 25px;
  padding: .5rem;
  margin: 0 1rem 1rem;
  text-decoration: none;
  color: #000;
  transition: 250ms;
}

.card:hover {
  background-color: #141446;
  transition: 250ms;
  color: #fff;
}

.card-dog {
  max-width: 25rem;
  border: 5px solid #141446;
  border-radius: 25px;
  text-decoration: none;
  color: #000;
  transition: 250ms;
  margin: 2rem auto;
  padding: 1rem;
}

.card-dog:hover {
  background-color: #141446;
  transition: 250ms;
  color: #fff;
}

.card-dog:hover a {
  background-color: #fff;
}

fieldset {
  border: 0;
}

textarea,
select,
input {
  border-color: #141446;
  border-radius: 5px;
  font-family: "Noto Serif", serif;
}

fieldset div {
  padding-right: .75em;
  padding-left: .75em;
}

.adopt {
  color: #08797d;
}

label {
  color: #08797d;
}

.rounded {
  border-radius: 25px;
}

@media only screen and (min-width: 38em) {

  header ul li {
    display: inline-block;
  }

  .banner {
    position: relative;
  }

  .banner-content {
    position: absolute;
    bottom: 0;
    max-width: 50rem;
    left: 20%;
    padding: 2rem;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, .7);
  }

  .banner-content p {
    color: #fff;
    max-width: 50rem;
  }
}
